.rumorhighlight[data-yuusendo="1"] {
	background: red;
}

.blink-highlight {
  animation: blinkAnime 0.5s infinite alternate;
}
@keyframes blinkAnime{
	0% { background-color: white }
 	100% {}
}

@keyframes fukidashi_show{
	from {	opacity: 0	}
	to {	opacity: 1	}
}

/* ツールチップ本体共通（初期非表示） */
.tooltip-component {
  position: absolute;
  z-index: 100;
  display: none;
}
/* ツールチップ表示時 */
.tooltip-show {
  display: block;
}
/* ツールチップデザイン */
.basic-tooltip {
  color: black;
  font-size: 12px;
  background-repeat: no-repeat;
  background-position: left top;
  padding: 10px 120px;
	height: 118px;
  width: 350px;
  word-break: break-all;
}

/***プルダウン(訂正情報の表示)***/

.fukidashicontents {
		width: 300px;
		overflow: auto;
		margin-left: 5px;
		margin-right: 10px;
}

.rumor_parent{
	display: flex;
}

.icon1{
	display:flex;
	align-items: center;
	width: 20px;
	height: 20px;
}

.icon2{
	width: 20px;
	height: 20px;
}

.rumortext {
	top: 15px;
	width: auto;
	font-size: 12px;
	color:#111111;
	font-weight: bold;
	margin-left: 5px;
	display:flex;
	align-items: center;
	font-family: Verdana, Helvetica, sans-serif;
	line-height: 1.4;
}

.teisei_parent{
	display: none;
	margin-top: 5px;
	border-top: 1px solid #808080;
	padding-top: 5px;
}

.rumorteisei {
	width: auto;
	font-size: 12px;
	font-weight: normal;
	color:#111111;
	margin-left: 5px;
	font-family: Verdana, Helvetica, sans-serif;
	line-height: 1.4;
}

.detail_parent{
	display: none;
	margin-top: 5px;
	border-top: 1px solid #808080;
	padding-top: 5px;
}

.teisei_count{
	width: 33%;
	font-size: 12px;
	color:#111111;
	font-weight: normal;
	text-align: center;
}

.web_search{
	width: 33%;
	font-size: 12px;
	color:#111111;
	font-weight: normal;
	text-align: center;
}

.detail_link{
	width: 33%;
	font-size: 12px;
	color:#111111;
	font-weight: normal;
	text-align: center;
}

.status_parent{
	display: none;
	margin-top: 5px;
	border-top: 1px solid #808080;
	padding-top: 5px;
}

.rumorstatus{
	width: 33%;
	text-align: left;
}

.status_area_icon{
 display: inline-block;
}

.icon3{
	margin-left: 10px;
	width: 15px;
	height: 15px;
}

.icon4{
	margin-left: 10px;
	width: 15px;
	height: 15px;
}

.rumor_positive{
	display: inline-block;
	color:#111111;
	font-weight: normal;
	text-align: center;
	font-size: 8px;
	color: #1ccc0c;
}

.rumor_negative{
	display: inline-block;
	color:#111111;
	font-weight: normal;
	text-align: center;
	font-size:8px;
	color: #cc0404;
}

.checked_rumor{
	width: 66%;
	font-weight: normal;
	text-align: right;
	font-size:10px;
}

.fukidashicontents:hover > .teisei_parent{
	display: flex;
	animation: fukidashi_show .5s linear 0s;
}

.fukidashicontents:hover > .detail_parent{
	display: flex;
	animation: fukidashi_show .5s linear 0s;
}

.fukidashicontents:hover > .status_parent{
	display: flex;
	animation: fukidashi_show .5s linear 0s;
}

.dropmenu:before, .dropmenu:after{
  content: "";
}
.dropmenu:after{
  clear: both;
}

#fukidashicontents_id a{
	color:black;
	font-family: Verdana, Helvetica, sans-serif;
}

/***プルダウン(訂正情報の表示)***/
