.rumorhighlight {
	background: yellow;
}

.rumorhighlight[data-yuusendo="1"] {
	background: red;
}
.rumorinfomationtext {
	position: relative;
}

.rumorinfomationteisei {
	position: relative;
	margin-top : 22px
}


.rumortext {
	position: absolute;
	top: 10px;
	width: 430px;
	left:120px;
	font-size: 18px;
	color:#111111;
	font-weight: bold;
}
.rumorteisei {
	position: absolute;
	top: 60px;
	width: 430px;
	left:120px;
	font-size: 15px;
	color:#111111;
}

a.rumorcloud:link {
text-decoration : underline;
color : red;
}
a.rumorcloud:visited {
text-decoration : underline;
color : red;
}
a.rumorcloud:active {
text-decoration : underline;
color : red;
}
a.rumorcloud:hover {
text-decoration : underline;
color : red;
}



/* ツールチップ本体共通（初期非表示） */
.tooltip-component {
  position: absolute;
  z-index: 100;
  display: none;
}
/* ツールチップ表示時 */
.tooltip-show {
  display: block;
}
/* ツールチップデザイン */
.basic-tooltip {
  color: black;
  font-size: 12px;
  background-repeat: no-repeat;
  background-image: url('http://ikakun.net/~kakimoto/get_rumors/img/test.jpg');
  background-position: left top;
  padding: 10px 120px;
	height: 118px;
  width: 350px;
  word-break: break-all;
}
