#list_on_alert{
position:absolute;
z-index:10000;
top:0;
left:0;
border:solid 3px #aaa;
background:fcfcfc;
display:block;
width:400px;
height:300px;
padding:20px;
line-height:300px;
text-align:center;
font-size:32px;
font-weight:bold;
}
