/*popup全体*/
body{
	width: 300px;
	height: auto;
	background-color: #00ced1;
	margin: 0px;
}

/*タイトル部分*/
.title{
	font-size: 25px;
	margin: 8px;
	text-align: center;
}

.banner{
	text-align: center;
	width:90%;
	height:auto;
	vertical-align: middle;
}

/****検出流言リスト*****/
.list-parent{
	margin: 0px auto;
	height: auto;
  padding: 0px 8px 8px 8px;
  background-color: #ffffff;
	border-top: 1px solid #ffffff;
}

.subtitle-list{
	text-align: center;
	border-width: 0 0 0 5px;
	font-weight: bold;
	margin: 11px 0 3px 0;
	display: block;
}

.subtitle-list span{
	color: #DF0101;
}

.subtitle-list .fa-check-circle{
	margin: 0px 2px 0px 0px;
	font-size: 13px;
	color:#82c91e;
	font-weight: bold;
}

.subtitle-list .fa-exclamation-triangle{
	margin: 0px 2px 0px 0px;
	font-size: 13px;
	color:#DF0101;
	font-weight: bold;
}

.contents-list{
	max-height: 100px;
	overflow: scroll;
}

.list-parent .ttl{
	border: #DF0101 solid;
	border-width: 0 0 0 5px;
	margin: 7px 0 7px 0;
	padding: 0 0 0 5px;
}


.list-parent .ttl:hover{
	background-color: #F2F2F2;
}
/*********************************************/

/*****「設定」ボタン(クリックで広がる)*****/
.setting-parent{
  margin: 0px auto;
	height: auto;
  padding: 0px 8px 8px 8px;
  background-color: #F2F2F2;
	border-top: 1px solid #F2F2F2;
}

.setting-parent:hover{
	background-color: #E6E6E6;
}

.subtitle-setting{
	border-width: 0 0 0 5px;
	margin: 11px 0 3px 0;
	padding: 0 0 0 5px;
	display: block;
}
.blink-log {
	color: #fff;
  background-color:red;
	height: auto;
	padding: 3px;
	font-size: 10px;
	margin-left: 10px;
}

.setting-parent label {
		width: 100%;
    font-weight: normal;
    cursor :pointer;
}
.setting-parent label .icon::after{
	float: right;
	margin-right: 10px;
	font-weight: bold;
	content: "＋";
}
.setting-parent #label-setting {
    display: none;
}
.setting-parent .contents-setting {
    height: 0;
    overflow-y: hidden;
    transition: 0.8s;/*ゆっくり表示させる*/
    opacity: 0;
}
.setting-parent #label-setting:checked + label + div {
    height: auto;
    opacity: 1;
}

.setting-parent input:checked + label .icon::after {
	content: "ー";
}

/*********************************************/

/****「不具合を報告」ボタン(クリックで広がる)*****/
.report-parent{
  margin: 0px auto;
	height: auto;
  padding: 0px 8px 8px 8px;
  background-color: #F2F2F2;
	border-top: 1px solid #F2F2F2;
}

.report-parent:hover{
	background-color: #E6E6E6;
}

.subtitle-report{
	border-width: 0 0 0 5px;
	margin: 11px 0 3px 0;
	padding: 0 0 0 5px;
	display: block;
}
.report-parent label {
		width: 100%;
    font-weight: normal;
    cursor :pointer;
}
.report-parent label .icon::after{
	float: right;
	margin-right: 10px;
	font-weight: bold;
	content: "＋";
}
.report-parent #label-report {
    display: none;
}
.report-parent .contents-report {
    height: 0;
    overflow-y: hidden;
    transition: 0.8s;/*ゆっくり表示させる*/
    opacity: 0;
}
.report-parent #label-report:checked + label + div {
    height: auto;
    opacity: 1;
}
.report-text{
	width: 98%;
	height: 80px;
	resize: none;
	margin: 8px 0 0px 0;
}
.report-parent input:checked + label .icon::after {
	content: "ー";
}
/*********************************************/

/****「システムについて」ボタン(クリックで広がる)*****/
.detail-parent{
  margin: 0px auto;
	height: auto;
  padding: 0px 8px 8px 8px;
  background-color: #F2F2F2;
	border-top: 1px solid #F2F2F2;
}

.detail-parent:hover{
	background-color: #E6E6E6;
}

.subtitle-detail{
	border-width: 0 0 0 5px;
	font-weight: bold;
	margin: 11px 0 3px 0;
	padding: 0 0 0 5px;
	display: block;
}
.detail-parent label {
		width: 100%;
    font-weight: normal;
    cursor :pointer;
}
.detail-parent label .icon::after{
	float: right;
	margin-right: 10px;
	font-weight: bold;
	content: "＋";
}
.detail-parent #label-detail {
    display: none;
}

.detail-parent #label-detail:checked + label + div {
	height: auto;
	opacity: 1;
}
.detail-parent .contents-detail {
	height: 0;
	opacity: 0;
	overflow-y: hidden;
	transition: 0.8s;/*ゆっくり表示させる*/
}

.contents-detail{
	font-size: 7px;
}
.contents-detail p{
	margin: 5px 0 0 0;
	padding-left:1em;
	text-indent:-1em;
}
.detail-parent input:checked + label .icon::after {
	content: "ー";
}
/*********************************************/

.ttl{
	border-width: 0 0 0 5px;
	margin: 11px 0 3px 0;
	padding: 0 0 0 5px;
}

.ttl .ttlDc {
    font-size: 12px;
    font-weight: normal;
}

.color-select{

}

/***********赤チェック***********/
.hl-red-input{
  display: none;
}
.hl-red-input + label{
  padding-left: 20px;
  position:relative;
  margin-right: 10px;
}
.hl-red-input + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #dc143c;
  border-radius: 50%;
}
.hl-red-input:checked + label{
  color: #ff0000;
}
.hl-red-input:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: #ff0000;
  border-radius: 50%;
}
/********************************/

/***********黄チェック***********/
.hl-yellow-input{
  display: none;
}
.hl-yellow-input + label{
  padding-left: 20px;
  position:relative;
  margin-right: 10px;
}
.hl-yellow-input + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #ffd700;
  border-radius: 50%;
}
.hl-yellow-input:checked + label{
  color: #ffff00;
}
.hl-yellow-input:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: #ffff00;
  border-radius: 50%;
}
/********************************/

/***********青チェック***********/
.hl-blue-input{
  display: none;
}
.hl-blue-input + label{
  padding-left: 20px;
  position:relative;
  margin-right: 10px;
}
.hl-blue-input + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #1e90ff;
  border-radius: 50%;
}
.hl-blue-input:checked + label{
  color: #0000ff;
}
.hl-blue-input:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: #0000ff;
  border-radius: 50%;
}
/********************************/

.smt-button{
margin:11px 0 3px 0;
text-align: center;
}
.smt-buttonL input{font-size:12px;}
.smt-buttonR{
font-size:13px;
font-weight:bold;
padding-left:20px;
}

.smt-button-2{
margin:7px 0 3px 0;
text-align: center;
}
.smt-buttonL-2 input{font-size:12px;}

/***********フッター************/
.footer{
}

#questionnaire{
	float: right;
	font-size: 15px;
	margin: 8px;
	color: white;
  animation: fluffy1 1s ease infinite;
}

@keyframes fluffy1 {
  0% { transform:translateY(-3px) }
	50% { transform:translateY(0px) }
  100% { transform:translateY(-3px) }
}
